MONGODB_URI="mongodb+srv://Vercel-Admin-atlas-crimson-lighthouse:EDwWixpQnUvsTN4u@atlas-crimson-lighthous.wj1rec2.mongodb.net/realana?retryWrites=true&w=majority"
PORT=4000
PUBLIC_BASE_URL="https://quantalog-be.daorbit.in"
JWT_SECRET="a-long-random-secret"
